.nav{
    background-color: #A9F5F2;
    height: 60px;
    width: 100%;
}

nav ul{
    margin-right: 40px;
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 5px 5px;
}
nav ul li a{
    color: black;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: upperCase;
}
li a.active, li a:hover{
    background-color: white;
}


.center-form {
    text-align: center;
}

form {
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    background: #BFA1FC;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el formulario */
}

p {
    margin: 10px 0;
}

input[type="submit"] {
    display: block; /* Asegura que el botón de enviar esté en una nueva línea */
}