<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/css/estilosDetalle.css">
<title>Actividad1.-  Eventos</title>
</head>
<body>
	<h1>Hola eventos </h>
	<h1>Listado de Eventos Activos</h1>
	<a th:href="@{/eventos/alta}" style="border: 2px solid #8DD9F3; padding: 5px;">Nuevo Evento</a>
	

	<table id="tablaDetalle" width=90%>
		<tr style="background-color: #8DD9F3">
			<th>ID</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Duración</th>
			<th>Precio</th>	
			<th>Estado</th>
			<th>Aforo</th>
			<th>Fecha</th>
			<th>IdTipo</th>
	
		</tr>
		
		<tr>
			<td th:text="${evento.idEvento}"></td>
			<td th:text="${evento.nombre}"></td>
			<td th:text="${evento.descripcion}"></td>
			<td th:text="${evento.duracion}"></td>
			<td th:text="${evento.precio}"></td>
			<td th:text="${evento.estado}"></td>
			<td th:text="${evento.aforo}"></td>
			<td th:text="${evento.fecha}"></td>
			<td th:text="${#dates.format(evento.fecha, 'dd - MM - yyyy')}"></td>
			<td th:text="${evento.tipo.idTipo}"></td>
		</tr>
		
	</table>
	
<!--
	<table width=90%>
		<tr style="background-color: #A783EE">
			<th>Ver Detalle</th>
			<th>Eliminar</th>
			<th>Editar</th>		
		</tr>
		<tr th:each="evento : ${evento}">
			<td><a th:href="@{/evento/detalle/{id}(id=${evento.idTipo})}">Detalle</a></td>
			<td><a th:href="@{/evento/eliminar/{id}(id=${evento.idTipo})}">Eliminar</a></td>
			<td><a th:href="@{/evento/editar/{id}(id=${evento.idTipo})}">Editar</a></td>
		</tr>
	</table>
	-->
			
</body>
</html> 